*{
    margin: auto;   
}
body
{
    /* background-image:url("brain.jpg"); */
    background-image:url("/images/brain.jpg");
    /* background-size:150px; */
    background-size: cover;
    background-repeat: no-repeat;
}
.box{
    margin-top: 100px;
}
.heading
{
   text-align: center; 
   color:#78281F;
   background-color: rgba(255, 0, 0, 0.575);
   width: 50%;
   margin: auto;
}
.rules{
    color: black;
    /* background-color:rgba(255, 255, 255, 0.664); */
    background-color:rgba(245, 222, 179, 0.671);
    width: 50%;
    margin: auto;
}
h2{
    text-align: center;
}