*{
    margin: auto;
    padding:auto;
    height: auto;
    margin-left:400;
    text-align: center;
    /* width: 40%; */
    
} 
body
{
    background-image:url("background\ quiz");
    background-size:cover;
}
.main{
    /* background-color: black; */
    /* align-self : center; */
    /* margin: 10px; */
    border: 3px solid red;
    border-radius: 30px;
    /* height: 50%; */
    /* width: 40%; */
    /* margin: 10px 400px; */
    margin-bottom: 10px;
    /* padding: 10px; */
    text-align:center;
    background-color: lavender;

    height: auto;
    margin-left:400;
    text-align: center;
    width: 40%;
    /* margin: auto; */
  
}
h1{
    background-color: rgba(245, 222, 179, 0.521);
    color: black;
    text-align: center;
   margin: 0;padding: 0;

    /* margin: 100px 50%;
    padding: 10px; */
}
.qnum{
    border:3px solid black;
    text-align: center;
    /* margin: 10px 400px; */
    margin-top: 10px;
    /* margin-bottom: 10px; */

    padding: 10px;
    height: 50%;
    width: 40%;
    /* height: auto;
    margin-left:400;
    text-align: center;
    width: 40%; */
    
}
.qus{
    background-color: rgba(243, 114, 114, 0.938);
    width: 50%;
    margin: 10 auto auto auto;
    border-radius: 30px;
    height: auto;
    margin-left:400;
    text-align: center;
    width: 40%;
}
.rules{
    background-color:beige;

    height: auto;
    margin-left:400;
    text-align: center;
    width: 40%;

    border:3px double black;
    color:black;
}

