*{
    margin: 0;padding: 0;
}
h1{
    text-align: center;
    font-size: 300%;
    font-family: Lucida Handwriting;
}
body{
    background-image: url(/ment.png);
    background-size: contain;
}
p{
    font-size: 200%;
}
.red{
    background-color: rgba(127, 255, 212, 0.527);
    
    /* border: 3px solid red; */
    margin: 5%;
    padding: 10%;

}
.blue{
    background-color: rgba(127, 255, 212, 0.527);
    
    /* border: 3px solid red; */
    margin: 5%;
    padding: 10%;

}

#img{
    /* align-items: ; */
    /* padding:50%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* height: 100%; */
    /* width: 50%; */
}

.para1{
    /* text-align: start; */
    /* margin: 5%; */
    /* padding: 10%; */
    background-color: #507892b7;
    border: 3px solid black ;
    border-radius: 30px;
    font-family: Comic Sans MS;
    font-size: 80%;
    /* margin-top: initial; */
    /* font: oblique; */
}
.para2{
    /* margin: 0;
    padding: 0; */
    background-color: #f9e79fbb ;
    border: 3px solid black ;
    border-radius: 30px;
    font-family: Comic Sans MS;
    font-size: 80%;

    /* margin: 10px; */
}